@font-face {
    font-family: 'Renner';
    src: url('../lib/fonts/renner-400-book.eot') format('embedded-opentype'),
        url('../lib/fonts/renner-400-book.woff') format('woff'),
        url('../lib/fonts/renner-400-book.ttf') format('truetype'),
        url('../lib/fonts/renner-400-book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meloche';
    src: url('../lib/fonts/meloche-bk.eot') format('embedded-opentype'),
        url('../lib/fonts/meloche-bk.woff') format('woff'),
        url('../lib/fonts/meloche-bk.ttf') format('truetype'),
        url('../lib/fonts/meloche-bk.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/fonts/roboto-regular.eot') format('embedded-opentype'),
        url('../lib/fonts/roboto-regular.woff') format('woff'),
        url('../lib/fonts/roboto-regular.ttf') format('truetype'),
        url('../lib/fonts/roboto-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}