.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.row-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.row-between-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
