/*--------------------------- color ---------------------------*/
$default: linear-gradient(#bebebe, #a7a7a7);
$primary: linear-gradient(#517aff, #5162fa);
$success: linear-gradient(#15b96f, #1a945d);
$atention: linear-gradient(#f3d23f, #d3b42a);
$danger: linear-gradient(#f0443c, #cc322a);
$blanco: #e9e6e6;
$negro: #1c1c1c;
