
<style media="screen">
   page {
      font-family: arial;
      font-size: 16px;
      line-height: 28px;
   }
   table {
      width: 100%;
      border-collapse: collapse;
   }
   table th {
      background: #c1c1c1;
   }
   table th, td {
      border: solid 1px #c1c1c1;
      width: 135px;
      text-align: center;
      padding: 15px 10px;
      box-sizing: border-box;
   }
   table tbody tr:nth-child(even) {
      background: #c4c4c4;
   }
   .container h1 {
      text-align: center;
   }
   .fecha {
      position: absolute;
      right: -200%;
   }
   .moneda {
      text-align: right;
      margin: 0;
   }
</style>

<page backtop="5mm" backleft="5mm">
   <page_header backtop="20mm" backbottom="20mm" backleft="22mm" backright="22mm">
   </page_header>

   <div class="container">
      <h1>Cotización</h1>
      <p class="fecha">{$fecha}</p><br>

      <b>FOLIO:</b> {$folio} <br>
      <b>TITULO DEL EVENTO:</b> {strtoupper($cotizacion.evento)} <br>
      <b>CLIENTE:</b> {strtoupper($cotizacion.contacto)} <br>
      <b>VENDEDOR:</b> {$usuario} <br>
      <b>SALÓN:</b> {strtoupper($cotizacion.lugar)} <br>
      <b>NO. PERSONAS:</b> {$cotizacion.pax} <br><br>
      {$total = $cotizacion.renta}
      
      <table>
         <thead>
            <tr>
               <th>Descripción</th>
               <th>P.U.</th>
               <th>Cantidad</th>
               <th>Subtotal</th>
            </tr>
         </thead>
      
         <tbody>
            {foreach $detalle item=item}
            {$subtotal = $item.cantidad * $item.precio_unitario}
            <tr>
               <td>{$item.descripcion}</td>
               <td class="moneda">$ {$item.precio_unitario|number_format:2}</td>
               <td>{$item.cantidad}</td>
               <td class="moneda">$ {$subtotal|number_format:2}</td>
            </tr>
            {$total = $total + $subtotal}
            {/foreach}
         </tbody>
      
         <tfoot>
            <tr>
               <td colspan="2"></td>
               <td><b>RENTA</b></td>
               <td class="moneda">$ {$cotizacion.renta|number_format:2}</td>
            </tr>
            <tr>
               <td colspan="2"></td>
               <td><b>TOTAL</b></td>
               <td class="moneda" style="
               background: #65c965;
               border: solid #000;
               ">$ {$total|number_format:2}</td>
            </tr>
         </tfoot>
      </table>
   </div>
</page>