{include file='struct/header.html'}
<main>

  <div class="content m-auto">
    <hgroup style="text-align: center">
      <h2>{$titulo}</h2>
    </hgroup>

    <div class="row-between">
      <div class="item">
        <h3>Eventos</h3><br>
        <a class="admin-button" href="?view=cotizacion">
          <i class="fas fa-tasks"></i> Cotizaciones</a>
      </div>

      <div class="item">
        <h3>Eventos totales</h3>
      </div>
    </div>

  </div>
</main>

{include file='struct/footer.html'}
