{include file='struct/header.html'}
<main>
  {include file='templates/calendario/M_evento.tpl'}
  {include file='templates/calendario/MD_evento.tpl'}
  {include file='templates/calendario/MD_logistica.tpl'}

  <div class="content m-auto">
    <hgroup>
      <h1>{$titulo}</h1>
      <h2>{$subtitulo}</h2>
    </hgroup>

    <div id="calendar" class="calendar"></div>

  </div>
</main>

<script src="views/js/calendario/funcs_events.js"></script>
<script src="views/js/calendario/M_evento.js"></script>
<script src="views/js/calendario/MD_evento.js"></script>
<script src="views/js/calendario/MD_logistica.js"></script>
<script src="views/js/calendario/evento_ajax.js"></script>
<script src="views/js/calendario/calendario.js"></script>
{include file='struct/footer.html'}
