{include file='struct/header.html'}
<style>
.graph {
   display: inline-block;
   width: 600px;
   max-width: 49%;
   height: auto;
}
.img-cont {
   text-align: center;
}
.form-cotizacion {
   display: inline-block;
   margin-bottom: 20px;
   min-width: 330px;
}
.calendar {
   padding-top: 20px;
   display: inline-block;
}
</style>

<!-- FORMULARIO MENU -->
{include file='templates/cotizacion/m_menu.html'}

<main>
   <div class="content m-auto-x row-between">

      <!-- FORMULARIO DE COTIZACIÓN -->
      {include file='templates/cotizacion/form_cot.html'}

      <!-- LADO DERECHO -->
      <div class="img-cont col-xs-12 col-md-8">
         <!-- BARRA DE HERRAMIENTAS -->
         <div class="tools-bar row-between col-xs-12 col-md-10">
            Herramientas
            <ul class="tools-menu row-right">
               <li><a id="cot_ajustes" class="btn-tools" href="?view=precios"><i class="fas fa-wrench"></i> Ajustes</a></li>
            </ul>
         </div>
         <!-- CALENDARIO DE EVENTOS -->
         <div id="calendar" class="calendar col-xs-12 col-md-10"></div>
      </div>
   </div>
</main>

<script src="views/js/Modal.js"></script>
<script src="views/js/cotizacion/ajax_req.js"></script>
<script src="views/js/cotizacion/onload.js"></script>
<script>
$('#calendar').fullCalendar({
   header: {
      left: 'month,agendaWeek,agendaDay',
      center: 'title',
      right: 'today, prev,next'
   },
   defaultView: 'month',
   allDaySlot: false,
   eventLimit: true,
   events: 'core/ajax/eventosAjaxController.php',
   navLinks: true,
   nowIndicator: true,
   showNonCurrentDates: false,
   dayClick: function(date, jsEvent, view) {
      d_init.value = date.format()
      d_end.value = date.format()
   },
   eventClick: function (calEvent, jsEvent, view) {
      popup.confirm({
         content: '¿Desea cotizar un Menu?',
         default_btns: {
            ok: 'Sí',
            cancel: 'No'
         }
      },
      (clck) => {
         if (clck.proceed) {
            cotizarMenu(calEvent);
         }
      })
   },
   views: {
      agendaWeek: { // name of view
      titleFormat: 'D MMM YYYY',
      columnHeaderFormat: 'ddd D'
      }
   }
})
</script>
{include file='struct/footer.html'}