{include file='struct/header.html'}
<main>
  <div class="content m-auto">
    <hgroup>
      <h1>{$titulo}</h1>
      <h2>{$subtitulo}</h2>
      <h3>No. de Sesión {$id_usuario}</h3>
    </hgroup>
    
    <p>USUARIO: <strong>{$usuario}</strong></p>
    <p>ROL: <strong>{$puesto}</strong></p><br>
    
    <div class="index-bg" style="background-image: url('storage/thumbs/index_bg.jpg'); background-position: center; height: 40vh; min-height: 400px; max-height: 600px; box-sizing: border-box;background-repeat: repeat-x;">
    </div>
  </div>
</main>
{include file='struct/footer.html'}
