{include file='struct/header.html'}
<main>
{include file='views/templates/registros/M_usuarios.html'}
  <div class="content m-auto">
    <hgroup>
      <h1>{$titulo}</h1>
      <h2>{$subtitulo}</h2>
    </hgroup>

    <div id="tabs_menu">

      <ul class="tabs">
        <li><a href="#tab1" class="tab active">Usuarios</a></li>
      </ul>

      <div class="tabs_content">
        <section id="tab1" class="tab_content show">
          {include file='views/templates/registros/TB_usuarios.tpl'}
        </section>
      </div>
          
    </div>
    
  </div>

</main>
<script src="views/js/tabs.js"></script>
<script src="views/js/registros/reg.js"></script>
{include file='struct/footer.html'}
