<div id="MD_evento" class="sub-modal">
  <div class="flex">
    <div class="modal-content col-xs-11 col-lg-10">
      <div class="modal-header">
        <h3>Información del evento</h3>
        <a class="close">&times;</a>
      </div>
      <div class="modal-body row-between">
        <div class="col-xs-11 col-md-6 m-auto-x">
          <h3>Logística</h3>

          <div class="t-scroll-y" style="margin-right:5px">
            <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Actividad</th>
                <th>Lugar</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody id="tb_logistica">
              <!-- <tr>
                <td>fecha</td>
                <td>Hora</td>
                <td>Actividad</td>
                <td>Lugar</td>
                <td>
                  <button class="atention" type="button"><i class="fas fa-pen-alt"></i></button>
                  <button class="danger" type="button"><i class="fas fa-trash"></i></button>
                </td>
              </tr> -->
            </tbody>
          </table>
          </div>
          <button id="btnAgregarLogistica" class="btn primary" type="button">Agregar</button>
        </div>

        <div class="col-xs-11 col-md-6  m-auto-x">
          <h3>Ordenes de servicio</h3>

          <div class="t-scroll-y" style="margin-left:5px">
            <table class="table">
              <thead>
                <tr>
                  <th style="min-width: 30px"># Id</th>
                  <th>Fecha</th>
                  <th>Nombre</th>
                  <th>Lugar</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody id="tbody_orden">
                <!-- <tr>
                  <td>2</td>
                  <td>23/11/2018</td>
                  <td>Prueba2</td>
                  <td>Casa</td>
                  <td>
                    <button class="atention" type="button"><i class="fas fa-pen-alt"></i></button>
                    <button class="danger" type="button"><i class="fas fa-trash"></i></button>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
          <button id="btn_agregar_orden" class="btn primary" type="button">Agregar</button>
        </div>

        <div class="modal-footer">
          <button id="cancelar" class="btn default" type="button">Cancel</button>
        </div>
      </div>      
    </div>
  </div>
</div>
