<div id="frm_eliminar_orden" class="sub-modal">
    <div class="flex">
        <div class="modal-content col-xs-8 col-sm-3">
            <div class="modal-body" style="padding-top: 20px">
                <h4>¿Está seguro/a?</h4>
                <form class="form col-xs-12" action="#" method="post">
                <input type="hidden" name="id" value=""> 
                <div class="row-between">
                    <button class="btn success" type="submit">Confirmar</button>
                    <button id="cerrar" class="btn default" type="button">Cancelar</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>