<link rel="shortcut icon" href="storage/thumbs/favicon.ico">
<link rel="stylesheet" href="views/css/master.css">
<link rel="stylesheet" href="views/lib/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="views/lib/jquery-clockpicker.css">
<link rel="stylesheet" href="views/lib/alerts/popupmodal.css">
<script src="views/lib/moment.min.js"></script>
<script src="views/lib/jquery.min.js"></script>
<script src="views/lib/icons/fontawesome.js"></script>
<script src="views/lib/fullcalendar/fullcalendar.js"></script>
<script src="views/lib/fullcalendar/locale/es-us.js"></script>
<script src="views/lib/alerts/popupmodal.js"></script>