<footer>
  <div class="content m-auto">
    <div class="row-between">
      <div class="col-xs-5"></div>

      <div class="perfil">
        <ul>
          {if isset($smarty.session.usuario)}
          <li><a class="btn" href="?view=mi_perfil">
              <i class="far fa-user"></i> Mi Perfil</a></li>
          {if $smarty.session.puesto eq 'Administrador'}
          <li><a class="btn" href="?view=admin">
              <i class="fas fa-chart-bar"></i> Administración</a></li>
          {/if}
          {/if}
        </ul>
      </div>

      <div class="legal col-xs-12">
        <address>
          <small>Copyright Las Mañanitas {date(Y)} &copy;</small>
        </address>
      </div>
    </div>
  </div>
</footer>

{include file='templates/M_sesion.tpl'}
</body>
<script>
// SCRIPT HEADER

btn_nav.addEventListener('click', (e) => {
  if (navbar.classList.value) {
    navbar.classList.toggle('animate-nav-out');
  }
  navbar.classList.toggle('animate-nav-in');
})

$(window).on('resize', function() {
  if ($(this).width() > 900 && navbar.classList.value !== '') {
    navbar.classList.remove('animate-nav-in');
    navbar.classList.remove('animate-nav-out');
  }
})
</script>
<script src="views/js/loading.js"></script>
<script src="views/js/M_sesion.js"></script>
<script src="views/js/sesion_ajax.js"></script>
</html>
