<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1">
    <title>{$titulo}</title>
    {include file='struct/dependencies.html'}
    <style>
    .btn-login {
      padding: 10px 15px;
      margin-left: 10px;
      border-radius: 32px;
      font-size: 16px;
      transition: 0.2s;
      border: none;
      background: #e4e4e4;
      color: rgb(36, 36, 36);
    }
    
    .btn-login:hover {
      background: #292929cc;
      color: #fff;
      cursor: pointer;
    }
    </style>
  </head>

  <body>
  <header>
    <div class="content m-auto row-between">
      <img src="storage/thumbs/logo-blanco.png" alt="Las Mañanitas">
        
      <nav>
        <ul id="navbar">
          <li>
            <a class="btn-h {if !isset($smarty.get.view) || $smarty.get.view == 'index'}active{/if}" href="?view=index">
              <i class="fas fa-home"></i> Inicio</a></li>
          {if isset($smarty.session.puesto)}
          <li>
            <a class="btn-h {if $smarty.get.view == 'calendario'}active{/if}" href="?view=calendario">
              <i class="far fa-calendar-alt"></i> Calendario</a></li>
            {if $smarty.session.puesto eq 'Ventas' || $smarty.session.puesto eq 'Supervisor' || $smarty.session.puesto eq 'Administrador'}
          <li>
            <a class="btn-h {if $smarty.get.view == 'eventos'}active{/if}" href="?view=eventos">
              <i class="far fa-calendar-check"></i> Eventos</a></li>
            {/if}
            {if $smarty.session.puesto eq 'Administrador'}
          <li>
            <a class="btn-h {if $smarty.get.view == 'registros'}active{/if}" href="?view=registros">
              <i class="fas fa-users-cog"></i> Personal</a></li>
           {/if}
          {/if}
          {if isset($smarty.session.usuario)}
          <li>
            <button class="btn-login" onclick="cerrarSesion()">
              <i class="fas fa-sign-out-alt"></i> Logout</button></li>
          {else}
          <li>
            <button class="btn-login" onclick="openMSesion()">
              <i class="fas fa-sign-in-alt"></i> Login</button></li>
          {/if}
        </ul>
        <button id="btn_nav" class="btn-menu"><i class="fas fa-bars"></i></button>        
      </nav>
    </div>
  </header>