<div id="modal_empleados" class="modal">
  <div class="flex">
    <div class="modal-content col-xs-10 col-sm-7 col-md-4">
      <div class="modal-header">
        <h3>Personal</h3>
        <a class="close">&times;</a>
      </div>
      <div class="modal-body">
        <form id="form_empleado" class="form col-xs-12" action="#" method="post">
            Nombre:<br>
            <input type="text" class="col-xs-12" name="nombre"><br>
            Apellido:<br>
            <input type="text" class="col-xs-12" name="apellido"><br>
            Departamento:<br>
            <input type="text" class="col-xs-12" name="depto"><br>
            Cargo:<br>
            <input type="text" class="col-xs-12" name="cargo"><br>
            Correo:<br>
            <input type="email" class="col-xs-12" name="email"><br><br>

            <button type="submit" class="btn success">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>