<div id="modal_validados" class="modal">
  <div class="flex">
    <div class="modal-content col-xs-10 col-sm-7 col-md-4">
      <div class="modal-header">
        <h3>Personal</h3>
        <a class="close">&times;</a>
      </div>
      <div class="modal-body">
        <form id="form_validado" class="form col-xs-12" action="#" method="post">
            Usuario:<br>
            <select id="select_usuario" name="id_usuario" class="col-xs-12">
              <!--
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              -->
            </select><br>

            Personal:<br>
            <select id="select_personal" name="id_empleado" class="col-xs-12">
              <!--
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              -->
            </select><br>

            Rol:<br>
            <select id="select_roles" name="rol" class="col-xs-12">
              <!--
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              <option value="">Opcion</option>
              -->
            </select>
            <br><br>

            <button type="submit" class="btn success">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>