<div id="m_menu" class="modal">
    <div id="flex" class="flex">
        <div class="modal-content col-xs-9 col-md-5 col-lg-4">
            <div class="modal-header">
                <h3>Evento</h3>
            </div>
            <div class="modal-body">
                <form id="form_menu" class="form col-xs-12" action="javascript:void(0)" method="post">
                    Menu
                    <select class="col-xs-12" name="tipo_evento">
                        <option value="0">- Elegir -</option>
                        <option value="1">Menu 1</option>
                        <option value="2">Menu 2</option>
                        <option value="3">Menu 3</option>
                    </select>

                    Arreglos
                    <select class="col-xs-12" name="tipo_evento">
                        <option value="0">- Elegir -</option>
                        <option value="1">Arreglo 1</option>
                    </select>
                </form>
                
                <div class="modal-footer">
                    <button id="cerrar" class="btn default" type="button">Cerrar</button>
                    <button id="btn_cotizar" class="btn primary" type="submit">Cotizar</button>
                </div>
            </div>
            </div>
        </div>
    </div>                 
</div>