<div id="m_renta" class="modal">
    <div id="flex" class="flex">
        <div class="modal-content col-xs-9 col-md-6 col-lg-5">
            <div class="modal-header">
                <h3>Evento</h3>
            </div>
            <div class="modal-body">
                <form id="form_renta" class="form col-xs-12" action="javascript:void(0)" method="post">
                    Tipo de evento
                    <select class="col-xs-12" name="tipo_evento">
                        <option value="0">- Elegir -</option>
                        <option value="1">Boda</option>
                    </select>

                    Lugar
                    <select class="col-xs-12" name="tipo_evento">
                        <option value="0">- Elegir -</option>
                        <option value="1">Boda</option>
                    </select>
                </form>
                
                <div class="modal-footer">
                    <button id="cerrar" class="btn default" type="button">Cerrar</button>
                    <button id="btn_cotizar" class="btn primary" type="submit">Cotizar</button>
                </div>
            </div>
            
            </div>
        </div>
    </div>                 
</div>