/* THEMES */

.default {
  color: #272727;
  background: $default;
}

.primary {
  color: #e1eef8;
  border: none;
  background: $primary;
}

.success {
  color: #eef0ef;
  background: $success;
}

.atention {
  color: #282727;
  background: $atention;
}

.danger {
 color: #f5dbdb;
 background: $danger;
}

/*------------------------- end color -------------------------*/
