.content {
  max-width: 90%;
  width: 1500px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: 0 auto;
  @media screen and (min-width: 1000px) {
    max-width: 90%;
  }
}

.m-auto {
  margin: auto;
}

.m-auto-x {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.line-block {
  display: inline-block;
}

.scroll {
  overflow: auto;
  max-height: 90vh;
  max-width: 90vh;
}