.content {
  max-width: 90%;
  width: 1500px;
  box-sizing: border-box;
  margin: 0 auto;
  @media only screen and (max-width: 800px) {
  max-width: 96%;
}
}

.m-auto {
  margin: auto;
}

.m-auto-x {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.line-block {
  display: inline-block;
}

.scroll {
  overflow: auto;
  max-height: 90vh;
  max-width: 90vh;
}