header {
  width: 100%;
  color: #e1e1e2;
  background: linear-gradient(to bottom, #1d751d 0%, #115a11 100%);
  & p {
    font-size: 36px;
    text-shadow: 2px 2px 2px #000;
  }
  
  & div {
    align-items: center;
  }
  & img {
    height: 48px;
  }
}

hgroup {
  margin-bottom: 20px;
}
