nav {
  font-family: 'Renner', sans-serif;
  letter-spacing: 0.02rem;
  font-size: 18px;
  
  & ul {    
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background: none;
    
    & li .btn-login, .btn-h {
      display: block;
    }    
    
    & .btn-h {
      margin-left: 2px;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      border-radius: 6px;
      height: 90%;
      box-sizing: border-box;
      color: #d5dad5;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #186818;
        box-shadow: inset 0 0 8px #043304;
      }
    }
    & .active {
      color: #fff;
      background: #0e570e;
      box-shadow: inset 0 0 8px #011301;
      pointer-events: none;
    }

    @media only screen and (max-width: 900px) {
      position: absolute;
      display: block;
      width: 80%;
      max-width:350px;
      height: calc(100vh - 72px);
      padding: 8px 0;
      transform: none;
      background: #064106;
      right: -100%;
      top: 72px;
      opacity: 0;

      & .btn-h {
        border-radius: 0;
        margin-bottom: 5px;
        padding: 15px 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      & li .btn-login {
        position: absolute;
        bottom: 10%;
        right: 30%;
      } 
    }
  }
}

.btn-menu {
  border-radius: 4px;
  position: fixed;
  display: none;
  top: 10px;
  right: 3%;
  color: #fff;
  border: none;
  font-size: 26px;
  padding: 12px 15px;
  background: #259e25;
  cursor: pointer;

  &:hover {
    background: #043304;
  }

  @media only screen and (max-width: 900px) {
    display: block;
  }
}

.animate-nav-in {
  right: 0;
  opacity: 1;
  transition: right 0.4s, opacity 0.4s;
}

.animate-nav-out {
  transition: right 0.4s, opacity 0.4s;
  right: -100%;
  opacity: 0;
}

 /** BARRA DE HERRAMIENTAS */
.tools-bar {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#f5f5f5, #e4e4e4);
  color: #242424;
  padding: 4px 15px;
  border: solid 1px #c5c5c5;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
  border-radius: 4px;
}
.btn-tools {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #313131;
  background: linear-gradient(#f5f5f5, #e0e0e0);
  border: solid 1px #c5c5c5;
  border-radius: 4px;
  padding: 5px;
  &:hover {
    background: linear-gradient(#e9e9e9, #d8d8d8);
  }
}