h1, h2, h3, h4 {
    font-family: 'Renner', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 { font-size: 20px; }

p {
    font-family: 'Roboto', sans-serif;
}