/*--------------------------- color ---------------------------*/
$default: #ced1d0;
$default_border: #a8a8a8;
$primary: #208dd5;
$primary_border: #1e93e0;
$primary_hover: #1379c2;
$success: #1ac97b;
$success_border: #1aba73;
$success_hover: #18af6b;
$atention: #e9c736;
$atention_border: #e6c024;
$atention_hover: #d9b72c;
$danger: #f0443c;
$danger_border: #e32d2d;
$danger_hover: #d43030;
$blanco: #e9e6e6;
$negro: #1c1c1c;
